@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

body{
    background-image: linear-gradient(to right, #161F30, #217373);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    width: 20%;
    text-align: center;
    
}
h1{
    font-family: 'Montserrat Alternates', Helvetica, sans-serif;
}
main{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 10px;
    color: #173540;
    width: 75%;
    margin: auto;
    
}